# Jetbrains IDE configurations
.idea

# Docker default password
docker/postgres/password

# Docker Redis ACL
docker/redis/users.acl

# Application migrations
migrations/*

# Application configurations
config.yml

# Atlas configurations
atlas.hcl

.DS_Store

# Private & public key
ed25519-*.pem

AGENTS.md