# Jetbrains IDE configurations
.idea

# Docker default password
docker/postgres/password

# Application migrations
migrations/*

# Application configurations
config.yml

# Atlas configurations
atlas.hcl

.DS_Store